<button (click)="goBack()">Liste des membres</button>
<!-- <button type="button" (click)="getData()">Find Ships</button> -->
<p *ngIf="isFetching">Récupération des données...</p>
<div *ngIf="apiData">
  <form [formGroup]="shipForm">
    <label for="shipInput">Enter the name of your ship&nbsp;</label>
    <input
      type="text"
      placeholder="Example: Aurora"
      id="shipInput"
      list="shipsList"
      formControlName="ship"
      value=""
      (submit)="handleAdd(option)"
    />
    <button (click)="handleAdd(option)">Ajouter</button>
  </form>
  <datalist id="shipsList">
    <option *ngFor="let ship of apiData">
      <p *ngIf="ship">{{ ship.name }}</p>
    </option>
  </datalist>
</div>
<div *ngFor="let shipInFleet of myFleet">
  <p *ngIf="shipInFleet" id="{{ myListId }}">
    {{ shipInFleet }}
    <button (click)="handleRemove(shipInFleet)">Retirer</button>
  </p>
</div>
