<div class="background">
  <div class="svg"></div>
  <div class="index_body">
    <div class="svg"></div>

    <p>Token actuel : 103</p>

    <form [formGroup]="tokenForm">
      <label for="myToken">Enter your token&nbsp;</label>
      <p>
        <input
          id="myToken"
          type="text"
          placeholder="My Token"
          formControlName="token"
          (input)="handleToken()"
        />
      </p>
    </form>
    <button type="button" (click)="handleToken()">Check Token</button>
  </div>
</div>
